{% extends './base.html' %}
{% load static %}
{% load materializecss %}

{% block header_block %}
<nav id='navbar'>
</nav>
{% endblock %}

{% block main_block %}
<div class="container">
      <p class='flow-text'>🏠 Cadore a domicilio ⛰️ è una semplice pagina sempre in crescita.
        La pagina è un progetto molto semplice, a costo zero e creato nel mio tempo libero. <br>
        Vuoi aggiungere la tua attività? Compila <a href="/create/">questo</a> form.<br>
      <p class='flow-text'> Chi sono io ? <br>
        Sono Andrea Barnabò , un ragazzo di Domegge di Cadore con molte passioni,
        tra le quali quella per l'informatica. <br>
        Lavoro come sviluppatore software e insegnante di scuola superiore.
</div>
</main>
{% endblock %}

</body>
{% block static_end %}
{% load static %}
{% endblock %}
</html>
