<footer id="footer" class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Cadore a domicilio</h5>
        <p class="grey-text text-lighten-4">Pagina attivata durante l'emergenza COVID-19</p>
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Per info, suggerimenti o altro scrivere a
    <a class="grey-text text-lighten-4 right" href="mailto: cadoreadomicilio@gmail.com">andrea barnabo</a>
    </div>
  </div>
</footer>
